label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}

table tr td {
    padding-left: 0;
    padding-right: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    margin: 0 auto auto auto;
    width: 50%;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: linear-gradient(90deg, lightblue 0%, #22227d 24%, cornflowerblue 24%, cornflowerblue 76%, #22227d 76%, lightblue 100%);
    font-size: 20px;
}
.userphoto {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: #888 solid 2px;
    background-color: #fff;
}

.userinfo, .userphotocontainer {
    display:inline-block;
    width: 49%;
}
.infoandphoto {
    display: flex;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}

@media only screen and (max-width: 1100px) {
    body {
        width: 70%;
        background: linear-gradient(90deg, lightblue 0%, #22227d 14%, cornflowerblue 14%, cornflowerblue 86%, #22227d 86%, lightblue 100%);
    }
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 800px) {
    body {
        width: 100%;
        background: cornflowerblue;
        padding: 0;
    }
    .userinfo, .userphotocontainer {
        display:block;
        width: 100%;
    }
    .infoandphoto {
        display: block;
        align-items: center;
    }
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

li{
    margin: 13px 0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 4px 0 4px;
    margin: 10px 0 0 0;
}

.titlecard {
    font-size: 23px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 5px 0 5px;
}

.titlecard p {
    box-sizing: border-box;
    margin: 5px;
}

.desccard {
    font-size: 20px;
    margin: 5px;
    display: inline-block;
    color:inherit;
}
.postcard {
    background: linear-gradient(lightblue 0%, white 100%);
    border-radius: 10px;
    border: #22227d solid 1px;
    height: auto;
    margin: 0 2px 4px 2px;
    padding: 5px;

}

.arrows {
    width: 50%;
    margin: auto;
    height: auto;
    overflow: hidden;
}
.arrow {
    font-size: 50px;
    text-decoration: none;
}

p, button, input {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color:inherit;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.usertag {
    background: linear-gradient(lightblue 0%, white 100%);
    border-radius: 5px;
    border: black solid 2px;
    padding: 3px;
    margin-left: 5px;
    display: inline-block;
}

.usertag a {
    text-decoration: none;
}

.posttitle, .postdesc {
    background-color: white;
    padding: 5px;
    margin: 0 0 0 0;

}
.posttitle {
    background: linear-gradient(#aaf 0%, lightblue 100%);
    border-bottom: solid #00c 2px;
    color: #00c;
    overflow: hidden;
}
.titlecard1 {
    font-size: 26px
}
.timetitlecard {
    float: right;
    margin-right: 10px;
    color: #333
}
.postbox {
    margin-top: 10px;
    border-radius: 10px;
    border: #00c solid 2px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
}

.postlist {
    width: 98%;
    margin: auto;
}

.nounderline {
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.userthumb {
    object-fit: cover;
    border-radius: 50%;
    max-width: 200px;
    border: #888 solid 2px;
    background-color: #fff;
}

.userbox {
    margin-bottom: 10px;
    display: flex;
    align-items:center;
}
.userboxcontainer {
    display: flex;
    align-items:center;
}

textarea {
    font-size: 20px;
    font-family: sans-serif;
}

.tokendash {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}
.tokendash td, .userdash td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid black;
    background-color: lightcyan;
}
.tokendash th, .userdash th {
    border: 1px solid black;
    background-color: limegreen;
}
.column {
    width: 25%;
}
.shortcolumn {
    width: 15%;
}
.userdash {
    width: 100%;
}
.horizontal-centering td {
    text-align: center;
    vertical-align: middle;
}
.entdiv {
    margin: 5px;
}
.entity-elem, .hashtag {
    border: black solid 2px;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
}
.entity-elem {
    min-width: 100px;
    background: linear-gradient(lightblue 0%, white 100%);
}
.hashtag {
    background: linear-gradient(lightyellow 0%, white 100%);
    padding: 3px;
}
.remove-button {
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 23px;
}

.hashtag-container-inline {
    margin-left: 5px;
}
.parentcountdown {
    display: flex;
    height: 100%;
}
.childcountdown {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.line-break {
    width: 100%;
}
.childcountdown * {
    font-size: 28px;
}