img {
    width: 32%;
    height: auto;
    border: 2px solid blue;
    margin: 1px;
    vertical-align: top;
    border-radius: 5px;
}
@media only screen and (max-width: 800px) {
    img {
        width: 48.5%;
    }
}
@media only screen and (max-width: 600px) {
    img {
        width: 98%;
    }
}
